<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
		<listener class-name="com.ifocus.automation.Logging.ListenerClass" />
	</listeners>
  <test name="Test">
    <classes>
      <class name="com.ifocus.automation.Testscripts.MobileTest"/>
      <!-- <class name="com.ifocus.automation.Testscripts.WebTest"/> -->
      <!-- <class name="com.ifocus.automation.Testscripts.TestClass"/> -->
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
